html{
	background-color: #F4F5F0;
}

.container{
	margin: 8px;
	font-size: 10px;
	width:208px;
	white-space: nowrap;
	float: right;
	overflow: hidden;
	position: relative;
}

#topbar{
	margin-top: 14px;
	padding-bottom: 4px;
}

 .linkrow a {
 	font-size: 13px;
	color: grey;
}
.etsy-grid-block img{
	width:206px;
	margin-top: 0px;
	padding-right: 0px;
	
}

.sectionbk{
	background-color: white;
}

.pricebk{
	color: lightgreen;
	float: right;
}

.storenm{
	color: grey;
}

.sidebar{
	margin: 0px;
	font-size: 12px;
	width: 200px;
	height: 326px;
	margin-top: 30px;
	float: left;
	overflow: hidden;
	display: inline-block;
	padding-left:32px;

}

.bodyblk{
	border: 1px solid lightgrey;
}


p a{
	color: #34A6C0;

}

#grid{

padding-left: 0px;
overflow: auto;
display: block;
overflow:hidden;
padding-right: 46px;

}

.etsyblock{
	padding-right: 0px;
}

.title-section {
	text-overflow: ellipsis;
}

.whitebk {
	background-color: white;
	border: 1px solid lightgrey;
}

.header{
	font-size: 35px;
	color: #F65600;
	padding-left: 20px;
}

a  {
	text-decoration: none;
 	margin-left: 11px;
 	color: #34A6C0;
}
.sign-in{
margin-left: 0px;
}


// #tab{
// 	float: right;

// }

input {
	width: 314px;
	height: 27px;
}

button {
	background-color: #34A6C0;
	color:white;
	height: 32px;
	width: 63px;
}

nav{
	background-color: white;
}

// span a{
// 	color: #34A6C0;
// 	font-size: 12px;
// }

.hr{
	color: grey;
}

.box{
	 border: 1px solid #34A6C0;
	 padding: 4px;
}


.hovers{
	position: absolute;
	top: 4px;
	right: 5px;
	display: none;
}

.container:hover .hovers{
	display:block;
}

.cartel{
	float: right;
	margin-top:-12px;
	padding-right: 87px;
	color: grey;
}

.cart img{
	width: 21px;
	color: grey;

	img{
		color: grey;
	}
}

.bannerc{
	font-size: 13px;
}
.corner{
	margin-left: 838px;
	font-size: 14px
}
