.etsyblock{
	font-size: 15px;

	.header{
		font-size: 35px;	
	}

	.navbar{
		margin-left: 20px;

		form{
			margin-left: 5px;
		}
		#tab{
			margin-left: 30px;
			float: right;	
		}

		input {
			width: 300px;
			height: 20px

		}

		button {
			height: 20px	
		}
}
	 a {
		text-decoration: none;
		color: grey;
		margin-left: 15px;


	#topbar{
		margin: 20px;
	
	}
	}
  
}




