html{
	background-color: #F4F5F0;
}

.blockimages{
	margin: 8px;
	font-size: 10px;
	width:200px;
	white-space: nowrap;
	float: right;
	overflow: hidden;
	position: relative;
}

#topbar{
// padding-top: 20px;
// padding-bottom:20px;
border-bottom: 1px solid grey;
border-top: 1px solid grey;
}

 .linkrow a {
	color: grey;
}
.etsy-grid-block img{
	width:200px;
	margin-top: 30px;

}

.sidebar{
	margin: 0px;
	font-size: 12px;
	width: 140px;
	height: 326px;
	background-color: white;
	margin-top: 30px;
	float: left;
	overflow: hidden;
	display: inline-block;
}


p a{
	color: #34A6C0;

}

#grid{

padding-left: 0px;
overflow: auto;
display: block;
overflow:hidden;

}

.etsyblock{
	padding-right: 0px;
}

.title-section {
	text-overflow: ellipsis;
}

.header{
	font-size: 35px;
	color: #F65600;
	padding-left: 20px;
}

a {
	text-decoration: none;
	// color: grey;
 	margin-left: 20px;
}

#tab{
	float: right;
}

input {
	width: 300px;
	height: 20px;
}

button {
	height: 25px;
	width: 60px;
}

nav{
	background-color: white;
}

span a{
	color: #34A6C0;
	font-size: 12px;
}

.sell{
	border:1px solid lightblue;
	width: 55px;
	height: 26px;
	border-radius: 2em;

	text-align: center;

}

.hovers{
	position: absolute;
	top: 34px;
	right: 5px;
	display: none;

