html {
  background-color: #F4F5F0; }

.container {
  margin: 8px;
  font-size: 10px;
  width: 208px;
  white-space: nowrap;
  float: right;
  overflow: hidden;
  position: relative; }

#topbar {
  margin-top: 14px;
  padding-bottom: 4px; }

.linkrow a {
  color: grey; }

.etsy-grid-block img {
  width: 206px;
  margin-top: 0px;
  padding-right: 0px; }

.sectionbk {
  background-color: white; }

.pricebk {
  color: lightgreen;
  float: right; }

.storenm {
  color: grey; }

.sidebar {
  margin: 0px;
  font-size: 12px;
  width: 200px;
  height: 326px;
  margin-top: 30px;
  float: left;
  overflow: hidden;
  display: inline-block;
  padding-left: 32px; }

.bodyblk {
  border: 1px solid lightgrey; }

p a {
  color: #34A6C0; }

#grid {
  padding-left: 0px;
  overflow: auto;
  display: block;
  overflow: hidden;
  padding-right: 46px; }

.etsyblock {
  padding-right: 0px; }

.title-section {
  text-overflow: ellipsis; }

.header {
  font-size: 35px;
  color: #F65600;
  padding-left: 20px; }

a {
  text-decoration: none;
  margin-left: 20px;
  color: #34A6C0; }

input {
  width: 314px;
  height: 27px; }

button {
  background-color: #34A6C0;
  color: white;
  height: 32px;
  width: 63px; }

nav {
  background-color: white; }

.hr {
  color: grey; }

.box {
  padding: 4px; }

.hovers {
  position: absolute;
  top: 34px;
  right: 5px;
  display: none; }

.blockimages:hover .hovers {
  display: block; }

.cartel {
  float: right;
  margin-top: -12px;
  padding-right: 87px;
  color: grey; }

.cart img {
  width: 21px;
  color: grey; }
  .cart img img {
    color: grey; }

.bannerc {
  font-size: 13px; }

.corner {
  margin-left: 838px;
  font-size: 14px; }
